body {
    font-family: Arial, sans-serif;
  }
  
  header nav ul {
    display: flex;
    padding: 10px;
    background-color: lightgrey;
  }
  
  header nav ul li {
    list-style-type: none;
  }
  
  header nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  
  header nav a:hover {
    background-color: gray;
  }
  
  .main h1 {
    text-align: center;
    padding: 20px;
  }
  
  .main p {
    text-align: center;
  }
  .main img {
    width: 500px;
    height: 300px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  