body {
    font-family: Arial, sans-serif;
  }
  
  header nav ul {
    display: flex;
    padding: 10px;
    background-color: lightgrey;
  }
  
  header nav ul li {
    list-style-type: none;
  }
  
  header nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  
  header nav a:hover {
    background-color: gray;
  }
  
  .main h1,h3 {
    text-align: center;
    padding: 20px;
  }
  
  .main p {
    text-align: center;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  .main img {
    height: 300px;
  }

  .pic img{
    width: 700px;
    height: 500px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: lightgray;
  }
  